<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <clear/>
    <add key="AK" value="QmBb3jPcBZ7V1KK_oXGdqxrLD7MEz2uLrAOPA2eO"/>
    <add key="SK" value="tAkS0FOuofPh7tOxn_J3XV6n-Zn5mVCvXtN_PCGQ"/>
  </appSettings>
</configuration>